## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Learn popular languages used by data scientists
- Learn commonly used libraries used by data scientists
- Learn what are commonly used data science tools
- Learn how basic arithmetic functions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
| --- |
| Apache Spark |
| MySQL |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Isaiah Gosiengfiao